Repository Qayleef/core, pull requests merged in 2025-01, with the labels that each got.

#34 Statistics component enhancive
  homeassistant/components/statistics/sensor.py
  tests/components/statistics/snapshots/test_config_flow.ambr
Labels: enhancive, statistics

#36 Perfective maintenance for the history component-3
  homeassistant/components/history/__init__.py
Labels: perfective, history

#37 Preventive maintenance for the logbook component
  homeassistant/components/logbook/__init__.py
  homeassistant/components/logbook/const.py
  homeassistant/components/logbook/helpers.py
  homeassistant/components/logbook/models.py
  homeassistant/components/logbook/processor.py
  homeassistant/components/logbook/rest_api.py
  homeassistant/components/logbook/websocket_api.py
  tests/components/logbook/test_init.py
  tests/components/logbook/test_websocket_api.py
Labels: preventive, logbook
